.page-manage .handle-box {
  border: 1px solid #dcdfe6;
  line-height: 32px;
  padding: 0 10px;
}

.page-manage .group-children {
  padding-left: 20px;
}

.page-manage .group-children .handle-box {
  cursor: pointer;
}

.page-manage .handle-name,
.page-manage .handle-icon,
.page-manage .handle-opt {
  display: inline-block;
}

.page-manage .handle-icon .icon {
  font-size: 20px;
  cursor: pointer;
}

.page-manage .handle-opt {
  float: right;
}

.page-manage .handle-opt .icon {
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
}

.page-manage ul, .page-manage li {
  list-style: none;
}
