.editor {
  padding: 0;
  height: 100%;
  min-width: 1120px;
  .el-container {
    height: 100%;
  }
  .el-header {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    position: relative;
    line-height: 60px;
    .json-btn-box {
      float: right;
      height: 100%;
    }
  }
  .el-main {
    background: #f8f8f8;
  }
  .el-aside {
    padding: 10px;
  }
  .left-aside {
    border-right: 1px solid #ddd;
  }
  .right-aside {
    border-left: 1px solid #ddd;
  }
  .component-list {
    list-style: none;
    .component-list-box {
      padding: 5px;
      width: 33.3333%;
      float: left;
    }
    .drop-tips {
      display: none;
      height: 95px;
      border: 1px dashed #409EFF;
      background: rgb(198, 226, 255);line-height: 93px;
      color: #fff;
      text-align: center;
    }
  }
  .component-item {
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 95px;
    text-align: center;
    cursor: move;
    .icon-box {
      height: 58px;
      line-height: 58px;
      .iconfont {
        font-size: 30px;
        color: #5f5f5f;
      }
    }
    .component-name {
      height: 35px;
      line-height: 25px;
    }
  }

  .preview-wrap-list {
    .component-list-box {
      display: none;
    }
  }

  .preview {
    width: 377px;
    height: 617px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 4px;
    margin: 10px auto 100px;
    // overflow: hidden;
    .preview-main {
      height: 617px;
      width: 100%;
      position: relative;
    }
    .preview-list {
      min-height: 617px;
      list-style: none;
      position: relative;
      .preview-list-box {
        cursor: move;
        position: relative;
        &.isSelect {
          // content: '';
          // position: absolute;
          // top: 0;
          // left: 0;
          // bottom: 0;
          // right: 0;
          // z-index: 19;
          border: 1px solid #409EFF;
        }
        &>.vdr {
          border: 0 !important;
        }
      }
      .component-list-box {
        display: block;
      }
      .component-item {
        display: none;
      }
      .drop-tips {
        display: block;
        height: 95px;
        border: 1px dashed #409EFF;
        background: rgb(198, 226, 255);
        line-height: 93px;
        color: #fff;
        text-align: center;
      }
    }
    .transition-group{
      min-height: 617px;
    }
    .preview-navbar {
      height: 50px;
      position: relative;
      .navbar-handle {
        position: absolute;
        right: -26px;
        top: 0;
        z-index: 99;
        width: 26px;
        .hendle-item {
          background: rgba(0,0,0,0.3);
          text-align: center;
          color: #fff;
          line-height: 26px;
          height: 26px;
          display: block;
          cursor: pointer;
          &:hover {
            background: rgba(0,0,0,.4);
          }
        }
      }
    }
    .preview-navbar-graggable {
      height: 50px;
      position: relative;
      .navbar-list-box {
        height: 100%;
        &.isSelect {
          border: 1px solid #409EFF;
        }
      }
      .component-list-box {
        display: block;
        height: 50px;
        overflow: hidden;
        .component-name {
          display: none;
        }
        .icon-box {
          height: 50px;
          line-height: 50px;
        }
      }
      .navbar-drag-tips {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #ddd;
        line-height: 50px;
        text-align: center;
        color: #666;
      }
    }
  }

  .components-handle {
    position: absolute;
    right: -26px;
    top: 0;
    z-index: 99;
    width: 26px;
    .hendle-item {
      background: rgba(0,0,0,.3);
      text-align: center;
      color: #fff;
      line-height: 26px;
      height: 26px;
      display: block;
      cursor: pointer;
      &:hover {
        background: rgba(0,0,0,.4);
      }
    }
  }

  .ghostClass {
    background: red !important;
  }
}